<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to ticketpoa.com, <%= @user.name %></h1>
      <div class="content">
        <p>Thanks for joining us. Here are a couple of great ways to get started:</p>
        <a class="button" href="<%= @url %>">Login</a>
          <p>If you have any questions, please feel free to reach out to us at support@ticketpoa.com. We're always happy to help.</p>
          <p>Best, <br> The Ticket Poa Team</p>
      </div>
    </div>
  </body>
</html>